 body{
    background: rgb(130, 202, 236)
}

/* background-color: rgba(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
  .wrapper {
    max-width: 950px;
    min-height: 520px;
    background: #fff;
    margin: 10px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }